name: CI Python

on:
  push:
    branches:
      - main
      - dev
  pull_request:

permissions:
  contents: read

env:
  PIXI_COLOR: always

jobs:
  build_and_test:
    name: Python project - ${{ matrix.python-environment }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-environment: ['py310', 'py311', 'py312', 'py313']
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          environments: ${{ matrix.python-environment }}
      - run: pixi run -e ${{ matrix.python-environment }} test
  benchmarks:
    name: Python benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          environments: py-phylo2vec
      - run: pixi run -e py-phylo2vec benchmark
