name: CI R

on:
  push:
    branches:
      - main
      - dev
  pull_request:

permissions:
  contents: read

env:
  PIXI_COLOR: always
  R_ENV: r-phylo2vec

jobs:
  build_and_test:
    name: R project - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-13]  # macos-13 is Intel x86_64
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          environments: ${{ env.R_ENV }}
      - run: pixi run -e ${{ env.R_ENV }} test "./${{ env.R_ENV}}"
